version: '3'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    sqlite3:
      image: sqlite3:latest
      stdin_open: true
      tty: true
      volumes:
        - ./db/:/root/db/